.author-info {
  &__intro {
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    opacity: 0.5;
  }
  &__name {
    margin-bottom: 24px;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
  }
  &__text {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    opacity: 0.5;
  }
}
