.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;

  @include desktop() {
    width: 172px;
    height: 172px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}
