.button {
  padding: 0 120px;
  background-image: linear-gradient(to right, #ea7400 0%, #f29400 100%);
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  transition: background-image 0.2s ease;
  &:hover {
    background-image: linear-gradient(to right, #ff7f00 0%, #ff9d00 100%);
  }
}
