.feedback-form {
  width: 863px;
  &__title {
    margin-bottom: 100px;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__name,
  &__mail {
    flex-grow: 1;
  }
  &__name {
    margin-right: 50px;
  }
  &__button {
    margin-top: 60px;
  }
}
