.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 65px 160px;
  @include desktopHd {
    padding: 65px 5vw;
  }

  &__menu {
    @include tablets {
      display: none;
    }
  }

  &__socials {
    @include tablets {
      position: absolute;
      top: 65p;
      right: 160px;
    }
  }
}
