.main-subtitle {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: right;
  opacity: 0.4;

  @include desktop() {
    font-size: 16px;
    text-align: center;
  }

  @include phones() {
    font-size: 14px;
    line-height: 24px;
  }
}
