.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 65px;
  background-color: white;
  &__menu {
  }
  &__socials {
    margin-top: 37px;
  }
}
