.skills-row {
  &__title {
    color: white;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 68px;
    }
  }
}
