.skill {
  position: relative;
  width: 150px;
  height: 150px;

  &__circle {
    fill: transparent;
    &_under {
      stroke: #eaeaea;
      stroke-width: 3px;
      opacity: 0.1;
    }
    &_above {
      stroke-width: 9px;
    }
  }

  &__circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.5;
    transform: translate(-50%, -50%);
  }
}
