.widgets-list {
  &__title {
    margin-bottom: 50px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 68px;
  }
}
