.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 134px;
  border: 3px solid rgba(244, 244, 244, 0.1);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}
