.works-slider {
  display: flex;
  @include desktop {
    flex-direction: column;
  }
  &__display {
    flex-grow: 1;
  }
  &__info {
    width: 345px;
    flex-shrink: 0;
    @include desktop {
      align-self: center;
      width: 600px;
      margin-top: 60px;
    }
    @include tablets {
      width: 450px;
    }
    @include phones {
      padding: 0 30px;
    }
  }
}
