include ../../components/arrow-button

script(type="text/x-template")#reviews-content
  .reviews
    .reviews__header
      .reviews__title Что обо мне говорят
      .reviews__controls
        .reviews__prev-button(:class="{ 'reviews__prev-button_disabled': currentSlideIndex === 0 }" @click="goToPrevReview")
          +arrow-button('prev', 'circle', 'transparent')
        .reviews__next-button(:class="{ 'reviews__next-button_disabled': currentSlideIndex === slidesLength - 1 }" @click="goToNextReview")
          +arrow-button('next', 'circle', 'transparent')
    .reviews__body
      flickity.reviews__list(ref="flickity" :options="flickityOptions")
        .carousel-cell.reviews__item(v-for="(review, index) in reviewsWithRequiredImages" :key="index")
          review(v-bind="review")

script(type="text/x-template")#review
  .review
    .review__quote
      +icon('quote', 'review__quote-icon')
    .review__content
      .review__text {{ text }}
      .review__author.review-author
        .review-author__avatar
          img.review-author__avatar-image(:src="photo")
        .review-author__info
          .review-author__name {{ author }}
          .review-author__position {{ position }}