include ../../components/arrow-button

script(type="x-template")#reviews
  .reviews
    .reviews__header
      .reviews__title Что обо мне говорят
      .reviews__controls
        .reviews__prev-button(@click="goToPrevReview")
          +arrow-button('prev', 'circle', 'transparent')
        .reviews__next-button(@click="goToNextReview")
          +arrow-button('next', 'circle', 'transparent')
    .reviews__body
      .reviews__list(:style="`width: ${50*reviews.length}%; transform: translateX(-${currentReviewIndex*100/reviews.length}%)`")
        .reviews__item(
          v-for="(review, index) in reviewsWithRequiredImages"
          :key="index"
          :style="`width: ${100/reviews.length}%`"
        )
          review(v-bind="review")

script(type="x-template")#review
  .review
    .review__quote
      +icon('quote', 'review__quote-icon')
    .review__content
      .review__text {{ text }}
      .review__author.review-author
        .review-author__avatar
          img.review-author__avatar-image(:src="photo")
        .review-author__info
          .review-author__name {{ author }}
          .review-author__position {{ position }}