script(type="text/x-template")#skills-list
  ul.skills(ref="skills")
    li.skills__item(v-for="skillGroup in skillGroups" :key="skillGroup.title")
      skills-row(
        :title="skillGroup.title"
        :skills="skillGroup.skills"
        :is-in-viewport="isInViewport"
      )

script(type="text/x-template")#skills-row
  .skills-row
    .skills-row__title {{ title }}
    ul.skills-row__list
      li.skills-row__item(v-for="skill in skills")
        skill(
          :title="skill.title"
          :percent="skill.percent"
          :is-in-viewport="isInViewport"
        )

script(type="text/x-template")#skill
  .skill
    svg(viewBox="0 0 100 100").skill__circle-shape
      circle(cx="50" cy="50" r="45").skill__circle.skill__circle_under
      circle(cx="50" cy="50" r="45" ref="color-circle" stroke="url(#gradient)" :stroke-dasharray="circumference" :stroke-dashoffset="lineLength" transform='rotate(180 50 50)').skill__circle.skill__circle_above
      linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
        stop(offset="0%" stop-color="#ea7400")
        stop(offset="100%" stop-color="#f29400")
    .skill__circle-text {{ title }}