section#about.about-section
  .about-section__grid
    .about-section__avatar
      include avatar
    .about-section__author-info
      include author-info
    .about-section__profile
      include profile
    .about-section__remark
      include remark