include ../mixins 

mixin arrow-button(arrow, shape, color)
  button.arrow-button(class=['arrow-button_' + shape, 'arrow-button_' + color])
    +icon('arrow-down', 'arrow-button__icon arrow-button__icon_' + arrow)