.author-info
  .author-info__intro Привет, меня зовут
  .author-info__name Татьяна Курочкина
  .author-info__text
    p Я занимаюсь разработкой современных сайтов и приложений.
    p Мне нравится делать интересные и современные проекты.