include input
include textarea
include button

#contact.feedback-form
  .feedback-form__title Связаться со мной
  .feedback-form__row
    .feedback-form__name
      +input('text', 'Введите ваше имя', '', 'user')
    .feedback-form__mail
      +input('mail', 'Введите ваш email', '', 'envelope')
  .feedback-form__message
    +textarea('Сообщение к письму', '', 'message')
  .feedback-form__button
    +button('Отправить')