section#reviews.feedback-section
  each index in [1, 2, 3, 4]
    +image(`content/leaf${index}.png`, 'feedback-section__leaf')
  .feedback-section__content
    .feedback-section__reviews
      #reviews-container
    #contact.feedback-section__form
      include feedback-form