include input
include textarea
include button

form#contact.feedback-form
  .feedback-form__title Связаться со мной
  .feedback-form__row
    .feedback-form__name
      +input('text', 'Введите ваше имя', '', true, 'user')
    .feedback-form__mail
      +input('email', 'Введите ваш email', '', true, 'envelope')
  .feedback-form__message
    +textarea('Сообщение к письму', '', true, 'message')
  .feedback-form__button
    +button('Отправить', 'submit')