include socials
include menu

header.header
  .header__logo
    include logo
  button.header__hamburger.hamburger
    - for (var i = 1; i <= 3; i++) {
      .hamburger__line
    - }
  .header__sidebar
    include sidebar
  .header__menu
    +menu()
  .header__socials
    +socials()