include ../mixins

.parallax
  .parallax__layer.parallax__layer_background(data-speed="30")
    +image('content/main-background.png', 'parallax__image')
  .parallax__layer.parallax__layer_title(data-speed="14")
    include main-title
  .parallax__layer.parallax__layer_subtitle(data-speed="14")
    include main-subtitle
  .parallax__layer.parallax__layer_train(data-speed="8")
    +image('content/train.png', 'parallax__image')
  .parallax__layer.parallax__layer_ground(data-speed="4")
    +image('content/ground.png', 'parallax__image')