- var data = [{ key: 'Проживаю', value: 'Самара' }, { key: 'Возраст', value: '23' }, { key: 'Родилась', value: '25 января 1996' }];
table.profile
  each item in data
    tr
      td.profile__key #{item.key}
      td.profile__value #{item.value}