include review-author

mixin review(value)
  .review
    .review__quote
      +icon('quote', 'review__quote-icon')
    .review__content
      .review__text #{value.text}
      .review__author
        +review-author(value.avatar, value.author, value.position)