include review
include arrow-button

#reviews.reviews
  .reviews__header
    .reviews__title Что обо мне говорят
    .reviews__controls
      .reviews__prev-button
        +arrow-button('prev', 'circle', 'transparent')
      .reviews__next-button
        +arrow-button('next', 'circle', 'transparent')
  .reviews__list
    - var reviews = [{ text: 'Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', author: 'Дмитрий Ковальчук', position: 'Основатель LoftSchool', avatar: 'content/kovalchuk.png' }, { text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', author: 'Владимир Сабанцев', position: 'Преподаватель', avatar: 'content/sabantsev.png' }]
    each review in reviews
      .reviews__item
        +review(review)