include ../mixins

mixin review-author(image, name, position)
  .review-author
    .review-author__avatar
      +image(image, 'review-author__avatar-image')
    .review-author__info
      .review-author__name #{name}
      .review-author__position #{position}