section#skills.skills-section
  .skills-section__title Чем я могу быть полезна вам
  .skills-section__description Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .skills-section__widgets
    #skills-container
  .skills-section__image
    picture
      source(media="(min-width: 769px)" srcset=require("images/content/hands.png"))
      img(src=require("images/content/hands-mobile.png"))
    