include tag

.work-info
  .work-info__tags
    - var tags = ['HTML', 'CSS', 'Javascript']
    each value in tags
      .work-info__tag
        +tag(value)
  .work-info__title Сайт школы образования
  .work-info__description Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
  a.work-info__link
    +icon('link', 'work-info__link-icon')
    .work-info__link-text Посмотреть сайт