include arrow-button

.works-preview
  .works-preview__current
  .works-preview__list
  .works-preview__number 2
  .works-preview__controls
    +arrow-button('prev', 'square', 'gray')
    +arrow-button('next', 'square', 'gray')